async-lru==1.0.2
cachetools==5.3.3
certifi==2025.1.31
charset-normalizer==3.2.0
dnspython==2.8.0
google-api-core==2.24.1
google-api-python-client==2.177.0
google-auth==2.40.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.1.0
googleapis-common-protos==1.70.0
httplib2==0.22.0
idna==3.5
motor==3.10.1
oauthlib==3.2.0
protobuf==6.31.1
psutil==7.0.0
pyaes==1.6.1
pyasn1==0.6.1
pyasn1-modules==0.4.2
pyparsing==3.5.0
Pyrogram==2.0.106
PySocks==1.9.4
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
TgCrypto==1.2.5
uritemplate==4.1.1
urllib3==2.2.3
