async-lru==1.0.2
aiohttp>=3.12,<4
cachetools==5.3.3
certifi==2024.12.14
charset-normalizer==3.3.2
dnspython==2.6.1
google-api-core==2.20.0
google-api-python-client==2.150.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.1.0
googleapis-common-protos==1.66.0
httplib2==0.22.0
idna==3.10
motor==3.7.1
oauthlib==3.2.2
protobuf==5.28.3
psutil==7.0.0
pyaes==1.6.1
pyasn1==0.6.1
pyasn1-modules==0.4.2
pyparsing==3.3.3
Pyrogram==2.0.106
PySocks==1.7.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
TgCrypto==1.2.5
uritemplate==4.1.1
urllib3==2.3.0
